<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Painel Financeiro</title>
    <link rel="stylesheet" href="style_mes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <div class="icone-sino" id="notificacao">
            <i class="fas fa-bell"></i>
            <span class="notificacao">1</span>
        </div>
            <div class="user-info">
                <p><strong>Oi, </strong><br>Boa Tarde</p>
            </div>
            <nav class="menu">
                <button class="active"><i class="fas fa-home"></i> Início</button>
                <button><i class="fas fa-exchange-alt"></i> Transações</button>
                <button><i class="fas fa-user"></i> Usuário</button>
                <button><i class="fas fa-chart-line"></i> Análise</button>
            </nav>
        </aside>

        <main class="main-content">
            <div class="saldo-boxes">
                <div class="saldo">
                    <p>Saldo Total</p>
                    <h2>R$7.783,00</h2>
                </div>
                <div class="despesas">
                    <p>Despesas Totais</p>
                    <h2>-R$1.187,40</h2>
                </div>
            </div>
            
            <div class="box box-resumo">
                <div class="metas-info">
                    <p class="titulo-metas">Metas</p>
                    <i class="fas fa-car icon"></i>
                </div>
                <div class="texto-resumo">
                    <div class="receita">
                        <p>Receita Semana Passada</p>
                        <strong class="positivo">R$4.000,00</strong>
                    </div>
                    <div class="comida">
                        <p>Comida da semana passada</p>
                        <strong class="negativo">-R$100,00</strong>
                    </div>
                </div>
            </div>
            
            <div class="espaco"></div>

            <div class="filtros">
                <button href ="#" class="botao" data-periodo = "dia">Dia</button>
                <button href ="#"  class="botao" data-periodo = "semana">Semana</button>
                <button href ="#"  class="ativo" data-periodo = "mes">Mês</button>
            </div>

            <ul class="transacoes">
                <li class="transacao">
                    <i class="fas fa-wallet"></i>
                    <div>
                        <strong>Salário</strong>
                        <p>18:27 - 30 De Abril</p>
                    </div>
                    <span class="positivo">R$4.000,00</span>
                </li>
                <li class="transacao">
                    <i class="fas fa-store"></i>
                    <div>
                        <strong>Mercado</strong>
                        <p>17:00 - 14 De Abril</p>
                    </div>
                    <span class="negativo">-R$100,00</span>
                </li>
                <li class="transacao">
                    <i class="fas fa-home"></i>
                    <div>
                        <strong>Aluguel</strong>
                        <p>8:30 - 15 De Abril</p>
                    </div>
                    <span class="negativo">-R$674,40</span>
                </li>
            </ul>
            
        </main>
    </div>
    <script src="/src/controllers/home-controller.js"></script>
</body>

</html>
