body {
    font-family: 'Inter', sans-serif;
    background-color: #e6fff0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-row {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 12px;
    background-color: white;
}

.input-row input {
    border: none;
    flex: 1;
    padding: 8px;
    outline: none;
    font-size: 16px;
    background-color: transparent;
}

.icon-fixed {
    width: 20px;
    margin-right: 10px;
}

.eye-icon {
    cursor: pointer;
}

.login-btn {
    width: 100%;
    max-width: 450px;
    padding: 12px 0;
    background-color: #00c986;
    border: none;
    border-radius: 8px;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    text-decoration: none;
}

.forgot {
    color: #00c7a1;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.forgot:hover {
    text-decoration: underline;
}

.forgot, .register-link {
    display: block;
    margin-top: 10px;
    color: #00c986;
    text-decoration: none;
}
.register-link:hover{
    text-decoration: underline;
}

.register-option {
    margin-top: 15px;
}

@media (max-width: 480px) {
    body {
      padding: 20px;
      height: auto;
    }
  
    .container {
      padding: 15px;
    }
  
    .input-row {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .icon-fixed {
      margin-bottom: 8px;
      margin-right: 0;
    }
  
    .input-row input {
      width: 100%;
      padding: 6px 8px;
    }
  
    .login-btn {
      font-size: 14px;
      padding: 10px 0;
    }
  
    .forgot,
    .register-link {
      font-size: 14px;
    }
  }
  